<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<!-- 로그인 -->
	<select id="login" parameterType="com.portfolio.Flea_Market.VO.MemberVO" resultType="com.portfolio.Flea_Market.VO.MemberVO">
		SELECT
				 EMAIL
				,PASSWORD
				,NAME
				,NICKNAME
				,PHONENUMBER
		FROM	TB_MEMBER
		WHERE	EMAIL = #{EMAIL}
		AND		PASSWORD = #{PASSWORD}
	</select>
	
	<!-- 가입하기 -->
	<insert id="join" parameterType="com.portfolio.Flea_Market.VO.MemberVO">
		INSERT INTO TB_MEMBER(
								 EMAIL
								,PASSWORD
								,NAME
								,NICKNAME
								,PHONENUMBER
		) VALUES (
								 #{EMAIL}
								,#{PASSWORD}
								,#{NAME}
								,#{NICKNAME}
								,#{PHONENUMBER}
		)
	</insert>
</mapper>