<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 로그인 -->
	<select id="login" parameterType="com.portfolio.Flea_Market.VO.MemberVO" resultType="com.portfolio.Flea_Market.VO.MemberVO">
		SELECT
				 EMAIL
				,PASSWORD
				,NAME
				,NICKNAME
				,PHONENUMBER
		FROM	TB_MEMBER
		WHERE	EMAIL = #{EMAIL}
		AND		PASSWORD = #{PASSWORD}
	</select>
	
	<!-- 가입하기 -->
	<insert id="join" parameterType="com.portfolio.Flea_Market.VO.MemberVO">
		INSERT INTO TB_MEMBER(
								 EMAIL
								,PASSWORD
								,NAME
								,NICKNAME
								,PHONENUMBER
		) VALUES (
								 #{EMAIL}
								,#{PASSWORD}
								,#{NAME}
								,#{NICKNAME}
								,#{PHONENUMBER}
		)
	</insert>
	
	<!-- 비밀번호 변경을 위한 이메일 찾기 -->
	<select id="findEmail" parameterType="com.portfolio.Flea_Market.VO.MemberVO" resultType="com.portfolio.Flea_Market.VO.MemberVO">
		SELECT
				EMAIL
		FROM	TB_MEMBER
		WHERE	EMAIL = #{EMAIL}
	</select>
	
	<update id="pwUpdate" parameterType="com.portfolio.Flea_Market.VO.MemberVO">
		UPDATE TB_MEMBER SET
		PASSWORD = #{PASSWORD}
		WHERE EMAIL = #{EMAIL}
	</update>

	<!-- 회원정보 수정 -->
		<update id="memberUpdate">
			UPDATE TB_MEMBER SET 
			PASSWORD = #{PASSWORD},
			NAME = #{NAME}
			WHERE EMAIL = #{EMAIL}
		</update>
	<!-- 회원탈퇴 -->
	<delete id="memberDelete">
		DELETE FROM TB_MEMBER
		WHERE EMAIL = #{EMAIL}
	  	AND PASSWORD = #{PASSWORD} 
	</delete>
	<!-- 패스워드 체크 -->
	<select id="passChk" resultType="int">
		SELECT COUNT(*) FROM TB_MEMBER
		WHERE EMAIL = #{EMAIL}
	  	AND PASSWORD = #{PASSWORD}
	</select>
	<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*) FROM TB_MEMBER
		WHERE EMAIL = #{EMAIL}
	</select>
</mapper>